/* Color Pallete 
White : #FBF8F8
Dark Grey : #414143
Blue : #0C9CDA
Darker Blue : #4293C3
Light grey : #E1E3E5
*/

body {
    background-color: #FBF8F8;
    color: #0C9CDA;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    text-align: justify;
  }

  .container {
    margin: 30px, 30px, 30px, 30px;
    padding: 30px;
  }



/* TOP OF PAGE */

  .top-image {
      display: grid;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: 10% 10% 30% 20% 5% 15% 10%;
      background-image: url(img/SaoTomé_Principe_19_141127.jpg) ;
      filter: grayscale(100%);
      background-repeat: none;
      background-size: cover;
      width: 100%;
      margin-bottom: 20px;
      align-items: center;
      text-align: center;
  }

.Picture {
    grid-area: 1 / 2 / 4 / 5;
    border: 10px solid white;
    border-radius: 50%;
    width: 140px;
    filter: none;

}

  /* END TOP OF PAGE */

  /* START OF BIO AND LANGUAGES */

  .grid-biolanguage {
    display:grid;
    grid-template-columns: 2fr 20px 1fr;
    grid-template-rows: 1fr 20px 1fr;

  }

  .bio {
      grid-area: 1 / 1 / 4 / 2;
      background-color: #0C9CDA;
      color:white;
      padding-right: 20px;
      padding-left: 20px;
      
  }

  .languageforpax {
    grid-area: 1 / 3 / 2 / 4;
    border: 5px solid #0C9CDA;
    background-color: white;
    padding: 5px;
}
    .languageforpax h3,
    .languageformachine h3 {
        text-align: center;
    }

    .languageformachine {
        grid-area: 3 / 3 / 4 / 4;
        border: 5px solid #0C9CDA;
        background-color: white;
        padding: 5px;
}

  /* END OF BIO AND LANGUAGES */

/* START MY STORY */
    .imgmystory {
        border: 10px solid #0C9CDA;
        padding: 5px;
    }

/* END MY STORY */

/* START SKILLS */

    .containerskills {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
        grid-template-rows: 50px 20px 3fr;
        border: 5px solid #0C9CDA;
        padding: 15px;
        margin-top: 20px;
}

    .skillstitle {
        grid-area: 1 / 1 / 4 / 4;
        text-align: center;

    }

    .technical {
        grid-area: 3 / 1 / 3 / 2;
        background-color: purple;

    }

    .Personal {
        grid-area: 3 / 3 / 3 / 4;
        background-color: yellow;
    }

/* END SKILLS */

 /* START OF REST */

 .grid-rest {
    display:grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr 20px 1fr;
    margin-top:20px;

  }

  .bloc1 {
      grid-area: 1 / 1 / 2 / 4;
      background-color: #0C9CDA;
      color:white;
      padding-right: 20px;
      padding-left: 20px;
      
  }

  .bloc2 {
    grid-area: 1 / 5 / 5 / 6;
    border: 5px solid #142931;
    background-color: black;
    padding: 5px;
}
    .bloc1 h3,
    .bloc2 h3,
    .bloc3 h3,
    .bloc4 h3 {
        text-align: center;
    }

    .bloc3 {
        grid-area: 3 / 1 / 4 / 2;
        border: 5px solid purple;
        background-color: purple;
        padding: 5px;
}
    .bloc4 {
        grid-area: 3 / 3 / 4 / 4;
        border: 5px solid #0C9CDA;
        background-color: white;
        padding: 5px;
    }
    .bloc4 a {
        text-decoration:none;
        color: grey
    }

    .bloc4 a:hover {
        color: #0C9CDA;
    }

  /* END OF REST */

/* MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

@media screen and (max-width: 768px) {
    /* For mobile phones: */

    /* BIO */ 

    .grid-biolanguage {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 20px 1fr 20px 1fr;
        font-size: 8px;
    }
    
    .bio {
     background-color: black;
      padding:15px;
      grid-area: 1 / 1;
        }

    .languageforpax {
        background-color: purple;
        padding:5px;
        grid-area: 3 /1;
      }

    .languageformachine {
        background-color: orangered;
        padding:5px;
        grid-area: 5 /1;
      }

      /* SKILLS */

    .containerskills {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20px 1fr;
    }

      .technical {
        grid-area: 1 / 1;
        background-color: blue;
      }

      .Personal {
        grid-area: 3 / 1;
        background-color: purple;

      }

        .grid-rest {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
    
      }
    
      .bloc1 {
          grid-area: 1 / 1;
          background-color: #0C9CDA;
          color:white;
          
      }
    
      .bloc2 {
        grid-area: 3 / 1;

    }

        .bloc3 {
        grid-area: 5 / 1 ;

    }
        .bloc4 {
        grid-area: 7 / 1 ;

        }
      
}