/* Color Pallete 
White : #FBF8F8
Dark Grey : #414143
Blue : #0C9CDA
Darker Blue : #4293C3
Light grey : #E1E3E5
*/

body {
    background-color: #FBF8F8;
    color: #0C9CDA;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    text-align: justify;
  }

  .container {
    margin: 30px, 30px, 30px, 30px;
    padding: 30px;
  }
/* TOP OF PAGE */

  .top-image {
      
      background-color: #414143;
      border: #0C9CDA;
      margin-bottom: 20px;
      text-align: center;
      
  }

  /* END TOP OF PAGE */

  /* START OF BIO AND LANGUAGES */

  .grid-biolanguage {
    display:grid;
    grid-template-columns: 2fr 20px 1fr;
    grid-template-rows: 1fr 20px 1fr;

  }

  .bio {
      grid-area: 1 / 1 / 4 / 2;
      background-color: #0C9CDA;
      color:white;
      padding-right: 20px;
      padding-left: 20px;
      
  }

  .languageforpax {
    grid-area: 1 / 3 / 2 / 4;
    border: 5px solid #0C9CDA;
    background-color: white;
    padding: 5px;
}
    .languageforpax h3,
    .languageformachine h3 {
        text-align: center;
    }

    .languageformachine {
        grid-area: 3 / 3 / 4 / 4;
        border: 5px solid #0C9CDA;
        background-color: white;
        padding: 5px;
}

  /* END OF BIO AND LANGUAGES */

/* START MY STORY */
    .imgmystory {
        border: 10px solid #0C9CDA;
        padding: 5px;
    }

/* END MY STORY */

/* START SKILLS */

    .skills {
        border: 5px solid #0C9CDA;
        padding: 15px;
        margin-top: 20px;

}

.skills h2 {
    text-align: center;
    padding:-20px
}

    .containerskills {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
        background-color: teal;
    }

    .technical {
        grid-column-start: 1 ;
        background-color: purple;
    }

    .Personal {
        grid-column-end: 1;
        background-color: yellow;
    }

/* END SKILLS */

 /* START OF REST */

 .grid-rest {
    display:grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr 20px 1fr;
    margin-top:20px;

  }

  .bloc1 {
      grid-area: 1 / 1 / 2 / 4;
      background-color: #0C9CDA;
      color:white;
      padding-right: 20px;
      padding-left: 20px;
      
  }

  .bloc2 {
    grid-area: 1 / 5 / 5 / 6;
    border: 5px solid #142931;
    background-color: black;
    padding: 5px;
}
    .bloc1 h3,
    .bloc2 h3,
    .bloc3 h3,
    .bloc4 h3 {
        text-align: center;
    }

    .bloc3 {
        grid-area: 3 / 1 / 4 / 2;
        border: 5px solid purple;
        background-color: purple;
        padding: 5px;
}
    .bloc4 {
        grid-area: 3 / 3 / 4 / 4;
        border: 5px solid #0C9CDA;
        background-color: white;
        padding: 5px;
    }
    .bloc4 a {
        text-decoration:none;
        color: grey
    }

    .bloc4 a:hover {
        color: #0C9CDA;
    }

  /* END OF REST */
